server:
  port: 8080

spring:
  application:
    name: Event


  datasource:
    url: ${DB_EVENT_URL}
    username: ${DB_EVENT_USERNAME}
    password: ${DB_EVENT_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

    jackson:
      serialization:
        WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG

TaskForge:
  security:
    public-key: file:${TASK_PUBLIC_KEY}
    dev-auth-bypass: false
