server:
  port: 8081

spring:
  application:
    name: User

  datasource:
    url: ${DB_USER_URL}
    username: ${DB_USER_USERNAME}
    password: ${DB_USER_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

    jackson:
      serialization:
        WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG
