server:
  port: 8081

spring:
  application:
    name: User

  datasource:
    url: ${DB_USER_URL:jdbc:postgresql://localhost:5433/taskforge_user}
    username: ${DB_USER_USERNAME:taskforge}
    password: ${DB_USER_PASSWORD:taskforge}
    driver-class-name: org.postgresql.Driver

  flyway:
    table: flyway_schema_history_user
    baseline-on-migrate: true
    baseline-version: 0

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format-sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

    jackson:
      serialization:
        WRITE_DATES_AS_TIMESTAMPS: false

logging:
  level:
    org.springframework: INFO
    org.hibernate.SQL: DEBUG

TaskForge:
  security:
    private-key: file:${PRIVATE_KEY:${user.home}/Projects/TaskForge/infra/keys/private.pem}
    public-key: file:${PUBLIC_KEY:${user.home}/Projects/TaskForge/infra/keys/public.pem}
    cookie-secure: false
